* {
    margin: 0;
    box-sizing: border-box;
}
header {
    height: 50px;
    background-color: brown;
    margin-bottom: 10px;
}
.main-top {
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 10px;
}
.main-left {
    height: 300px;
    background-color: orange;
}
.main-right {
    height: 300px;
    background-color: chartreuse;
}